<%= form_for @student do |f| %>
    <%= f.label :genre %>

    <%= f.text_field :genre, :size => 140 %> 
    <br>
    
    <br>
    # データ型がstringで選択式の入力フォーム
  <div class="field">
  <%= f.label :major  %>
  <%= f.select :major, 
  [["A", "A"], 
  ["B", "B"], 
  ["C", "C"]], include_blank: "選択して下さい" %>
</div>

# データ型がintegerで数字のみを入力するフォーム
<div class="field">
  <%= f.label :grade  %>
  <%= f.number_field :grade, :size => 10 %>
</div>

# データ型がtextで自由記述の入力フォーム
<div class="field">
  <%= f.label :title  %>
  <%= f.text_area :title, :size => "30x2" %>
</div>
    <%= f.submit "編集する" %>
<% end %>