<h1>(関学文学部　質問サイト)</h1>
<h3>新規投稿ページ</h3>
<%= form_for @student do |f| %>

   
  <%= f.select :grade,
  [["1年生", "1"], 
  ["2年生", "2"],
  ["3年生", "3"],
  ["4年生", "4"]
  ], include_blank: "選択して下さい" %>




  <div class="field">
    <%= f.label :title  %>
    <%= f.text_area :title, :size => "30x2" %>
  </div>

  <div class="field">
  <%= f.label :qestion  %>
  <%= f.text_area :qestion, :size => "30x2" %>
</div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", students_path %>